.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
* .h5

*.DS_Store
*.pyc
*.swp
temp/*
dist/*
build/*
keras/datasets/data/*
keras/datasets/temp/*
docs/site/*
docs/sources/*
docs/theme/fonts/*
docs/theme/img/*
tags
Keras.egg-info
examples/img/*

# test-related
.coverage
.cache
.pytest_cache

# developer environments
.idea
.vscode

